<a href="/">Home</a>
<h1>Budgets</h1>
<table>
  <tr>
    <th>Budget</th>
    <th>Active</th>
  </tr>
  <%= form_tag() do %>
  <% @budgets.sort { |a,b| a.name <=> b.name }.each do |budget| %>
  <tr>
    <td><%= budget.name %></td>
    <td><%= radio_button_tag :budget, budget.id %>
  </tr>
  <% end %>
  <% end %>
</table>
